<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>积分商城-中转页</title>
    <!-- 引入jquery-->
    <script type="text/javascript" src="__STATIC__/js/jquery-3.6.1.min.js"></script>
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="__STATIC__/js/axios.min.js"></script>
    <!-- 引入公用js和自定义vue组件-->
    <script charset="utf-8" type="text/javascript" src="__STATIC__/js/cookies.js"></script>
<!--        <script src="__STATIC__/js/vconsole.min.js"></script>-->
    <script>
        // var vConsole = new VConsole();
        window.isGanSuYunFlutter = function () {
            // window.location.href = "gansuyun://disAllowTouchFlutter";
        }
        $(document).ready(function () {
            // window.vote = function () {
            //     window.loginSuccess = function (userId = '', userName = '', userHead = '', userPhone = '', siteID = '',userCredits = '',sign = '') {
            //         // userId:用户ID、userName:用户名、userHead:用户头像、userPhone:手机号、siteID:站点信息、userCredits:积分、sign:签名
            //         if (sign != '' && userId != '' && userPhone != '' && userCredits != '') {
            //             window.location.href = '{:url("api/Buildurl/buildurlwithsign")}'
            //         }else {
            //             window.location.href="login:///"
                //     }
                // }
            // }


        })

    </script>
</head>
<body >

</body>
</html>