<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>个人积分明细{:config('system.title')}</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css"/>
    <script type="text/javascript" src="__JS__/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
    <script type="text/javascript" src="__JS__/winpop.js"></script>
    <script type="text/javascript" src="__JS__/check.js"></script>
    <script type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
    <style type="text/css">
        #content .text {
            position: relative !important;
            border: none !important;
        }

    </style>
    <script>
        $(document).ready(function () {
            $('.submit').click(function () {
                var activities_name = $("#member_name").val();
                if (!tcheck(member_name, '', '请填会员名！')) {
                    return false;
                }
                wintq('正在处理，请稍后...', 4, 20000, 0, '');
                $('form').submit();
            });
            $('#department_id').change(function () {
                var id = $(this).val();
                $("#department_id1 option:not(:eq(0))").remove();
                if ('' != id) {
                    $.post("{:url('Service/getDepartmentList')}", {
                        id: id
                    }, function (data) {
                        var ret = jsonDecode(data);
                        if (ret.status == 1) {
                            $("#department_id1").append(ret.data);
                            $("#department_id1").show();
                        } else {

                        }
                    });
                }
            });
            $('#PPPP').change(function () {
                var value = $('#PPPP').val();
                //alert(value);
            });
        });
    </script>
</head>
<body>
<div id="content">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="100">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>会员名</th>
            <th>积分</th>
            <th>积分变动时间</th>
            <th>积分详情</th>
        </tr>
        </thead>
        <tbody>
        {volist name="points" id="vo"}
        <tr>
            <td>{$vo.member_name}</td>
            <td>{$vo.points}</td>
            <td>{$vo.add_time}</td>
            <td>{$vo.desc}</td>
        </tr>
        {/volist}

        </tbody>
    </table>
</div>

</body>
</html>
