<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>修改项目信息|{:config('system.title')}</title>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/uploadify.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-fileinput-master/css/fileinput.min.css">
<script type="text/javascript" src="__JS__/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<script type="text/javascript" src="__JS__/check.js"></script>
<script type="text/javascript" src="__JS__/jquery.uploadify.js"></script>
<script type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__CSS__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-fileinput-master/js/locales/zh.js"></script>
<script type="text/javascript" src="__STATIC__/js/common.js"></script>
<script>
$(document).ready(function() {
	$('.submit').click(function() {
		
		var CompanyName = $("#CompanyName").val();
		
		if (!tcheck(CompanyName,'','请填写公司/项目名称')) { return false; }
		wintq('正在处理，请稍后...',4,20000,0,'');
		$('form').submit();
	});
	$("#department_id1").hide();
	$('#department_id').change(function(){
		var id = $(this).val();
		$("#department_id1 option:not(:eq(0))").remove();
		if('' != id) {
			$.post("{:url('Exam/getDepartmentList')}", {
				id: id
			}, function(data) {
				var ret = jsonDecode(data);
				if(ret.status == 1) {
					$("#department_id1").append(ret.data);
					$("#department_id1").show();
				}else{
					
				}
			});
		}
	});
    $('#member_avatar').change(function() {
        $('#upload_img').empty()
        $('#upload_img').append($(this).val().split("\\").slice(-1));
    });
});
</script>
    <style>
        .a-upload {
            padding: 4px 10px;
            /*height: 20px;*/
            line-height: 25px;
            position: relative;
            cursor: pointer;
            color: #888;
            background: #fafafa;
            border: 1px solid #ddd;
            border-radius: 4px;
            overflow: hidden;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            margin-top:15px;
        }

        .a-upload  input {
            position: absolute;
            /*font-size: 100px;*/
            right: 0;
            top: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer
        }

        .a-upload:hover {
            color: #444;
            background: #eee;
            border-color: #ccc;
            text-decoration: none
        }
        #upload_img{
            line-height: 5px;
        }
    </style>
</head>
<body>

<div id="content" style="padding-bottom:20px;">
    <form action="{:url('Exam/edit_do')}" method="post" enctype="multipart/form-data">
    <table id="client" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0">
    	<tr class="tr">
            <td class="left" style="width:136px;">考试名称：</td>
            <td><input name="exam_name" value="{$result['exam_name']}" type="text" class="ctext" style="width:600px;" /><font>* </font></td>
        </tr>
    	<tr class="tr">
            <td class="left">考试类型：</td>
            <td>
	            <label><input type="radio" name="exam_type" class="status" value="1" {if condition="$result['exam_type'] eq 1"}checked{/if} /> 确定考题</label>
	            <label><input type="radio" name="exam_type" class="status" value="2" {if condition="$result['exam_type'] eq 2"}checked{/if}/> 随机抽取</label>
            <font> </font></td>
        </tr>
        <tr class="tr">
            <td class="left">重考次数：</td>
            <td>
                <label style="width:120px;">
                    <select name="resit_count" style="width:120px;">
                        <option value ="0"  {if condition="0 eq $result['re_exam_times']"}selected{/if}>不开启</option>
                        <option value ="-1" {if condition="-1 eq $result['re_exam_times']"}selected{/if}>不限次数重考</option>
                        <option value="1"  {if condition="1 eq $result['re_exam_times']"}selected{/if}>1次</option>
                        <option value="2" {if condition="2 eq $result['re_exam_times']"}selected{/if}>2次</option>
                        <option value="3" {if condition="3 eq $result['re_exam_times']"}selected{/if}>3次</option>
                        <option value="4" {if condition="4 eq $result['re_exam_times']"}selected{/if}>4次</option>
                        <option value="5" {if condition="5 eq $result['re_exam_times']"}selected{/if}>5次</option>
                    </select>
                </label>
                <font> </font></td>
        </tr>
    	<tr class="tr">
            <td class="left">考试状态：</td>
            <td>
	            <label><input type="radio" name="exam_status" class="status" value="0" {if condition="$result['exam_status'] eq 0"}checked{/if} /> 未发布</label>
	            <label><input type="radio" name="exam_status" class="status" value="1" {if condition="$result['exam_status'] eq 1"}checked{/if}/> 已发布</label>
            <font> </font></td>
        </tr>
        <tr class="tr" id="random_number_tr">
            <td class="left">抽取题数量：</td>
            <td><input name="random_number" value="{$result['random_number']}" type="text" class="ctext" size="30" /><font> </font></td>
        </tr>
    	<tr class="tr">
            <td class="left">考试时间：</td>
            <td>
				<input class="Wdate" name="start_time" value="{$result['start_time']}" type="text" onfocus="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:00',alwaysUseStartDate:true})">
				~<input class="Wdate" name="end_time" value="{$result['end_time']}" type="text" onfocus="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:00',alwaysUseStartDate:true})">
			<font></font></td>
        </tr>
    	<tr class="tr">
            <td class="left">答题时间限制：</td>
            <td><input name="answer_time_limit" value="{$result['answer_time_limit']}" type="text" class="ctext" size="30" /><font>秒</font></td>
        </tr>
    	<tr class="tr">
            <td class="left">考试说明：</td>
            <td><textarea name="notes" class="textarea" style="width:600px; height:60px; margin:6px 0px;">{$result['notes']}</textarea><font> </font></td>
        </tr>
        <tr class="tr" id="random_number_tr">
            <td class="left">总分：</td>
            <td>{$result['sum_exam_points']}<font> </font></td>
        </tr>
        <tr class="tr" id="random_number_tr">
            <td class="left">总题数：</td>
            <td>{$result['sum_question_num']}<font> </font></td>
        </tr>
    </table><input type="hidden" name="exam_id" value="{$result['exam_id']}" />
    <input type="submit" class="submit" value="提交" style="margin:20px 0 0 30px;" />
    </form>
</div>
</body>
</html>
