<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>添加新部门</title>
    <script type="text/javascript" src="__JS__/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css"/>
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="__STATIC__/layui/layui.all.js"></script>
    <script type="text/javascript" src="__JS__/Public.js"></script>
    <script type="text/javascript"></script>
</head>
<body>
<div class="layui-row" style="margin-top:25px;">
<form class="layui-form layui-col-md10" id="activity" enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required">*</i>行业：</label>
        <div class="layui-input-block" >
            <select name="industry_id" id="industry_id" lay-filter="industry_id" lay-verify="required">
                <option value="">请选择</option>
                {volist name="$industry_list" id="vo"}
                <option value="{$vo.industry_id}" >{$vo.industry_name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label"><i class="required">*</i>单位名称：</label>
            <div class="layui-input-block">
            <input type="text" name="department_name" required  lay-verify="required" placeholder="请输入单位名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单位固定电话：</label>
            <div class="layui-input-block">
            <input type="text" name="telephone"  placeholder="请输入单位固定电话" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
            <label class="layui-form-label"><i class="required">*</i>联系人姓名：</label>
            <div class="layui-input-block">
            <input type="text" name="contact" required  lay-verify="required" placeholder="请输入联系人姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class=""></i>主管领导：</label>
        <div class="layui-input-block" >
            <select name="leader_id" id="leader_id" lay-filter="leader_id" >
                <option value="">请选择</option>
                {volist name="$leader_list" id="vo"}
                <option value="{$vo.leader_id}">{$vo.leader_name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">父级单位：</label>
        <div class="layui-input-block" >
            <select name="parent_id" id="department" lay-filter="department"  lay-search="">
                <option value="">请选择</option>
                {volist name="$department_list" id="vo"}
                <option value="{$vo.department_id}">{$vo.department_name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label"><i class="required">*</i>联系人身份证号码：</label>
            <div class="layui-input-block">
            <input type="text" name="id_number" required  lay-verify="required" placeholder="请输入联系身份证号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label"><i class="required">*</i>密码：</label>
            <div class="layui-input-block">
            <input type="text" name="Password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label" ><i class="required">*</i>联系人手机号码：</label>
            <div class="layui-input-block">
            <input type="text" name="phone" required  lay-verify="required" placeholder="请输入11位手机号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn sub" lay-submit lay-filter="sub" id="sub" >提交</button>
            <input type="hidden" name="region_id" id="region_id" value="{$Request.param.region_id}">
        </div>
    </div>
</form>
</div>
<style>
    .layui-form-label{
        width: 140px;
        margin-bottom: -80px;
    }
    .layui-input-block {
        margin-left:160px;
        min-height: 36px
    }
    .required {
        color: red;
        padding-right: 5px;
    }
</style>
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;
        form.render();
        //监听提交
        form.on('submit(sub)', function (data) {
            console.log(data.field);
            $.ajax({
                url: "{:url('add_do')}",
                dataType: 'json',
                type: 'POST',
                data: data.field,
                success: function (data)
            {
                if (data.s=='ok') {
                    layer.msg("添加成功",{},function(){
                        // var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        // parent.location.reload();
                        // parent.layer.close(index); //再执行关闭
                    });
                } else {
                    layer.msg(data.s);
                }
            }

            });
            return false;
        });
    });
</script>
</body>
</html>
