<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>部门列表|{:config('system.title')}</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/content.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css"/>
    <script type="text/javascript" src="__JS__/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/layui/layui.all.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row" style="margin-top:20px;">
        <div id="tree" class="layui-col-md2"></div>
        <div class="layui-col-md10">
<!--            <button type="button" class="layui-btn layui-btn-sm layui-hide"  id="add">添加</button>-->
            <form class="layui-form">
                <div class="layui-row" style="margin-top:20px;" >
                    <div class="layui-form-inline layui-col-md3">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-block">
                            <input type="text" name="keywords" id="keywords" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-inline layui-col-md3">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" id="find_news" data-type="reload">检索</button>
                        </div>
                    </div>
                </div>
            </form>

            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">

        </div>
    </script>
    <script>
        layui.use([ 'form', 'tree'], function(){
            var tree = layui.tree;
            var form = layui.form;
                //渲染
            var inst1 = tree.render({
                elem: '#tree',  //绑定元素
                toolbar: '#toolbarDemo',
                defaultToolbar: ['filter'],
                showCheckbox:false,
                onlyIconControl:true,
                data:{$clues_tree_list},
                click: function(obj){
                    var nodes=document.getElementsByClassName("layui-tree-txt");
                    for (var i=0;i<nodes.length;i++){
                        if(nodes[i].innerHTML === obj.data.title){
                            nodes[i].style.color="#009688";
                            nodes[i].style.fontWeight="bold";
                        }else{
                            nodes[i].style.color="#555";
                            nodes[i].style.fontWeight="normal";
                        }
                    }
                    //console.log(obj.data); //得到当前点击的节点数据
                    //console.log(obj.state); //得到当前节点的展开状态：open、close、normal
                    //console.log(obj.elem); //得到当前节点元素
                    //console.log(obj.data.children); //当前节点下是否有子节点
                    //obj.data.id
                    $('#keywords').val('');

                    console.log(obj.data.id);
                    var str = [29, 313, 314, 315,316,317,318,319,320,321,322,323,324,325];
                    // var n = str.includes("");
                    if( str.includes(obj.data.id)){
                        $('#add').addClass("layui-hide");
                    }else{
                        $('#add').removeClass("layui-hide");
                    }
                    form.render();
                    layui.use('table', function(){
                        var table = layui.table;

                        //第一个实例
                        table.render({
                            elem: '#demo'
                            ,toolbar: '#toolbarDemo'
                            ,defaultToolbar: ['filter']
                            ,url: "{:url('Department/getMediaDepartmentList')}" //数据接口
                            ,where:{region_id: obj.data.id}
                            ,page: true //开启分页
                            ,limit:30
                            ,limits:[15,20,30,40,50,60,70,80,90]
                            ,id:'department'
                            ,cols: [[ //表头
                                {field: 'department_id', title: 'ID', minWidth: 80, width: 80}
                                , {field: 'region_name', title: '所在地区', width: 200,}
                                , {field: 'industry', title: '行业', width: 110}
                                , {field: 'department_name', title: '部门名称', width: 220}
                                , {field: 'leader', title: '主管领导', width: 110}
                                , {field: 'telephone', title: '部门电话', width: 140}
                                , {field: 'contact', title: '联系人', width: 100}
                                , {field: 'phone', title: '联系人手机号', width: 130}
                                , {field: 'is_admin_name', title: '是否为管理员', width: 125}
                                , {field: 'operating1', title: '操作', toolbar: '#barDemo', minWidth: 150}
                            ]]
                        });
                        var region_id= obj.data.id;
                        $('#add').click(function() {
                            //iframe层-父子操作
                            layer.open({
                                id:"1",
                                type: 2,
                                area: ['1000px', '560px'],
                                fixed: false, //不固定
                                maxmin: true,
                                content: "{:url('Department/add')}?region_id="+region_id,
                                cancel: function(){
                                    table.reload('department', {});
                                }
                            });
                        });
                    });
                }
            });
        });

        layui.use('table', function () {
            var table = layui.table;
            var $ = layui.$, active = {
                reload: function(){
                    //执行重载
                    table.reload('department', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                            keywords: $('#keywords').val(),
                            publish_time1: $('#publish_time1').val(),
                            publish_time2: $('#publish_time2').val(),
                        }
                    }, 'data');
                }
            };
            $('#find_news').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //第一个实例
            table.render({
                elem: '#demo'
                , toolbar: '#toolbarDemo'
                , defaultToolbar: ['filter']
                , url: "{:url('Department/getMediaDepartmentList')}" //数据接口
                , where: {parent_id: 1}
                , page: true //开启分页
                , limit: 30
                , limits: [15, 20, 30, 40, 50, 60, 70, 80, 90]
                , id: 'department'
                , cols: [[ //表头
                    {field: 'department_id', title: 'ID', minWidth: 80, width: 80}
                    , {field: 'region_name', title: '所在地区', width: 200,}
                    , {field: 'industry', title: '行业', width: 110}
                    , {field: 'department_name', title: '部门名称', width: 220}
                    , {field: 'leader', title: '主管领导', width: 110}
                    , {field: 'telephone', title: '部门电话', width: 140}
                    , {field: 'contact', title: '联系人', width: 100}
                    , {field: 'phone', title: '联系人手机号', width: 130}
                    , {field: 'is_admin_name', title: '是否为管理员', width: 125}
                    , {field: 'operating1', title: '操作', toolbar: '#barDemo', minWidth: 150}
                ]],
                done: function(res, curr, count){
                    // 绑定表格工具栏按钮的触发事件
                }
            });
            table.on('tool(test)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr
                if(layEvent === 'detail'){ //查看
                    //do somehing
                }else if(layEvent === 'addAdmin'){ //删除
                    layer.confirm('确定要添加为管理员吗', function(index){
                        // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        // layer.close(index);
                        //向服务端发送删除指令
                        var department_id	=	obj.data.department_id;
                        $.ajax({
                            url:"{:url('Department/addAdmin')}",
                            dataType:'json',
                            type:'POST',
                            data:'department_id='+department_id,
                            success: function(data) {
                                if (data.s=='ok') {
                                    layer.open({
                                        title: '操作信息'
                                        ,content: '添加成功'
                                    });
                                    // // obj.update({
                                    // //     is_admin: '已添加'
                                    // // });
                                    table.reload('department', {});
                                }else {
                                    layer.open({
                                        title: '操作信息'
                                        ,content: data.s
                                    });
                                }
                            }
                        });
                    });
                }
                else if(layEvent === 'cancleAdmin'){ //删除
                    layer.confirm('确定要取消管理员吗', function(index){
                        // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        // layer.close(index);
                        //向服务端发送删除指令
                        var department_id	=	obj.data.department_id;
                        $.ajax({
                            url:"{:url('Department/cancleAdmin')}",
                            dataType:'json',
                            type:'POST',
                            data:'department_id='+department_id,
                            success: function(data) {
                                if (data.s=='ok') {
                                    layer.open({
                                        title: '操作信息'
                                        ,content: '取消成功'
                                    });
                                    // // obj.update({
                                    // //     is_admin: '已添加'
                                    // // });
                                    table.reload('department', {});
                                }else {
                                    layer.open({
                                        title: '操作信息'
                                        ,content: data.s
                                    });
                                }
                            }
                        });
                    });
                }
            });
        });
    </script>
    <script type="text/html" id="barDemo">
        {{# if(d.is_admin == 0 ){ }}
          <a class="layui-btn layui-btn-xs" lay-event="addAdmin">设为管理员</a>
        {{# } else if(d.is_admin == 1){  }}
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cancleAdmin">取消管理员</a>
        {{# } }}

<!--        <a class="layui-btn layui-btn-xs" lay-event="addAdmin">设为管理员</a>-->
<!--        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cancleAdmin">取消管理员</a>-->
    </script>

</div>
</body>
</html>
