<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>考试管理|{:config('system.title')}</title>
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script type="text/javascript" src="__JS__/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__JS__/Public.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<script type="text/javascript" src="__CSS__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
<script>
$(document).ready(function() {
    $('#add').click(function() {
		popload('新增考试',860,500,"{:url('Exam/add')}?parent_id={$Request.get.parent_id}");
		addDiv($('#iframe_pop'));
		popclose();
	});
	//修改考试信息
	$('#content #table .tr .edit').click(function(event) {
		event.preventDefault();
		var exam_id=$(this).attr('href').replace(/[^0-9]/ig,"");
		if (exam_id=='' || isNaN(exam_id)) {
			wintq('ID参数不正确',3,1000,1,'');
			return false;
		}else {
			popload('修改考试信息',860,500,'{:url('Exam/edit')}?exam_id='+exam_id);
			addDiv($('#iframe_pop'));
			popclose();
		}
	});
	//删除
	$('#content #table .tr .del').click(function(event) {
		event.preventDefault();
		if (!confirm('确定要删除该数据吗？')) {
			return false;
		}
		var exam_id=$(this).attr('href').replace(/[^0-9]/ig,"");
		if (exam_id=='' || isNaN(exam_id)) {
			wintq('ID参数不正确',3,1000,1,'');
			return false;
		}else {
			wintq('正在删除，请稍后...',4,20000,0,'');
			$.ajax({
				url:"{:url('Exam/exam_del')}",
				dataType:'json',
				type:'POST',
				data:'post=ok&exam_id='+exam_id,
				success: function(data) {
					if (data.s=='ok') {
						wintq('删除成功',1,1500,0,'?');
					}else {
						wintq(data.s,3,1500,1,'');
					}
				}
			});
		}
	});
	//批量删除
	$('#dely').click(function(event) {
		event.preventDefault();
		if (!confirm('确定要删除选择项吗？')) {
			return false;
		}
		var delid='';
		for (i=0; i<$('#table .delid').length; i++) {
			if (!$('#table .delid').eq(i).prop('checked')==false) {
				delid=delid+$('#table .delid').eq(i).val()+',';
			}
		}
		if (delid=='') {
			wintq('请选中后再操作',2,1500,1,'');
		}else {
			wintq('正在删除，请稍后...',4,20000,0,'');
			$.ajax({
				url:"{:url('Exam/exam_indel')}",
				dataType:'JSON',
				type:'POST',
				data:'delid='+delid,
				success: function(data) {
					if (data.s=='ok') {
						wintq('删除成功',1,1500,0,'?');
					}else {
						wintq(data.s,3,1500,1,'');
					}
				}
			});
		}
	});
    $('#export').click(function() {
    	event.preventDefault();
    	var obj = {};
    	obj.keywords 			= "{:input('param.keywords')}";
    	obj.exam_id				="{:input('param.exam_id')}";
    	obj.department_id		="{:input('param.department_id')}";
		window.location.href 	= "{:url('Departmentcount/answerexport')}?"+$.param(obj);
		return false
	});
});
</script>
</head>
<body>
<div id="content">
	<h1>首页 > 考试统计 > 部门人员统计</h1>
    <form action="{:url('Answer/index')}" method="post">
    <table id="client" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0" style="margin-left:0px;">
    	<tr class="tr">
        	<td class="left">关键字：</td>
        	{volist name="exam_id" id="vo1"}
        	<input name="exam_id" id="exam_id" class="ctext" size="30" value="{$vo1.exam_id}" type="hidden"/>
        	{/volist}
        	{volist name="department_id" id="vo2"}
        	<input name="department_id" id="department_id" class="ctext" size="30" value="{$vo2.department_id}" type="hidden"/>
        	{/volist}
        	<td colspan="5"><input name="keywords" id="keywords" type="text" class="ctext" size="30" value="{:input('param.keywords')}"/><font></font></td>
        </tr>
        <tr class="tr">
            <td class="left" colspan="6" style="text-align:center;height:40px;">
	            <input type="submit" class="submit" value="搜索"  />
	            <input type="button" class="submit" value="导出" class="export"  id="export"/>
            </td>
        </tr>
    </table>
    </form>
    <table id="table" border="1" bordercolor="#CCCCCC" cellpadding="0" cellspacing="0">
    	<tr>
            <th>序号</th>
            <th>部门</th>
            <th>姓名</th>
            <th>身份证号码</th>
            <th>手机号码</th>
            <th>提交答卷时间</th>
            <th>所用时间</th>
            <th>用户IP</th>
            <th>总分</th>
            <th>操作</th>
        </tr>
   		{if condition="$answer_list.total eq 0"}<tr class="tr"><td class="tc" colspan="10">暂无数据，等待添加～！</td></tr>{/if}
        <!--顶级数据-->
        {volist name="answer_list.data" id="vo"}
        <tr class="tr {eq name="mod" value="1"}tr2{/eq}">
            <td class="tc">{$key+1}</td>
            <td class="tc">{$vo.parent_name}{$vo.department_name}</td>
            <td class="tc">{$vo.real_name}</td>
            <td class="tc">{$vo.id_number}</td>
            <td class="tc">{$vo.phone}</td>
            <td class="tc">{$vo.start_time}</td>
            <td class="tc">{$vo.submit_time}</td>
            <td class="tc">{$vo.ip}</td>
            <td class="tc">{$vo.exam_points}</td>
            <td class="tc fixed_w">
            	<a href="{:url('Answer/info')}?answer_id={$vo.answer_id}"><img src="__STATIC__/image/view.png" border="0" title="查看答卷" /></a>
            </td>
        </tr>
        {/volist}
    </table>
    <div id="page">{:$lists->render()}</div>
</div>
</div>
</body>
</html>
