<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>用户管理|{:config('system.title')}</title>
<link rel="stylesheet" type="text/css" href="__CSS__/public.css"  />
<link rel="stylesheet" type="text/css" href="__CSS__/content.css"  />
<link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css"  />
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/winpop.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.all.js"></script>
</head>
<body style="background-color: #F2F2F2;">


<div class="layui-container" style="margin-top:100px;">
	<div class="layui-row">
		<div id="tree" class="layui-col-md3 layui-col-md-offset1">
			<div class="layui-card">
			  <div class="layui-card-header"><font style="font-size:18px;">志愿者数：</font></div>
			  <div class="layui-card-body">
			    <font style="font-weight:bold;font-size:38px;color:blue;">12000</font>
			    <hr>
			    <font style="font-size:18px;">今日新增：30</font>
			  </div>
			</div>
		</div>
		<div id="tree" class="layui-col-md3 layui-col-md-offset1">
			<div class="layui-card">
			  <div class="layui-card-header"><font style="font-size:18px;">接单总数：</font></div>
			  <div class="layui-card-body">
			    <font style="font-weight:bold;font-size:38px;color:red;">230</font>
			    <hr>
			    <font style="font-size:18px;">今日新增：8</font>
			  </div>
			</div>
		</div>
		<div id="tree" class="layui-col-md3 layui-col-md-offset1">
			<div class="layui-card">
			  <div class="layui-card-header"><font style="font-size:18px;">正在进行中接单：</font></div>
			  <div class="layui-card-body">
			    <font style="font-weight:bold;font-size:38px;color:Orange;">10</font>
			    <hr>
			    <font style="font-size:18px;">今日新增：11</font>
			  </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
